

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.container {
  padding: 20px;
  border-radius: 10px;
  background: #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.calculator input {
  width: 100%;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.calculator div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.calculator button {
  flex: 1;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background: #555;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.calculator button:hover {
  background: #777;
}
